@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gym Planner</h1>
    <p>COMP 2006 ASP.NET Gym planner Final project</p>
    <p>This web application is used to track my progression at the gym as well as track how many reps/sets I am doing of each workout as well as the amount of weight on each workout</p>
</div>
